@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Cit 365 Team - Fall Semester<br />
    Argentina, Chile y Ecuador<br />
</address>

<address>
    <strong>Style:</strong> <a href="mailto:mon17017@byui.edu">mon17017@byui.edu</a><br />
</address>
